

@*@{
    ViewData["serialnumbers"] = "SerialNumbers";
}*@

<h2>Serial numbers</h2>

<br />
<table style="width: 50%">
    <tr>
        <td><b>Serial number</b></td>
    </tr>
    @foreach (var serialNumber in ViewData["serialnumbers"] as List<string>)
    {
        <tr>
            <td>@serialNumber</td>
        </tr>      
    }
    
</table>
